* {
    margin: 0;
    padding: 0;
}

.parent {
    background-color: #e9c46a;
    padding: 10px;
    margin: 10px;
}

.child1{
    background-color: #f4a261;
}

.child2{
    background-color: #2a9d8f;
    margin-top:20px;
    
}

.child3{
    background-color: #264653;
    margin:20px 10px 0 0;
}

/* .child1, .child2, .child3{
    padding: 10px;
} */

/* .parent>div { 
    padding: 10px;
 } */

.container{
    padding: 10px;
}