*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}

header {

}
.left-menu img{
 
}

#search-icon {
 
}

button{
 
}

.left-menu{
    
   
}

.left-menu button{
}
.right-menu{

}

#sign-up-button{
 
}

.section-hero{
}

.hero-content{

}
li{
    list-style-type: none;
    
}
.hero-category ul{
  
}

.hero-category ul li{

}
.hero-text-words{


}

.hero-text-words h1{

}

.hero-suggestion ul{

}

.hero-suggestion ul li{

}

.hero-suggestion ul li #trending-search{

}
/* .hero-vid{
    position: absolute;
    
} */

#search-container{

}

#search-box{
  
}

.fa-magnifying-glass{
}
